<%- include('./partial/_head', {title: 'Author Details'}) %>
<body> 
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">DIY Platform</span>
    </div>
  </nav>

  <main class="container">
  <a type="button" class="btn btn-primary" href="/authors">Back to Authors</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Author</th>
        <th scope="col">Total Post</th>
        <th scope="col">Total Vote</th>
        <th scope="col">Average Estimated Time</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% data.forEach(el => { %>
        <tr>
          <td><%= el.id %></td>
          <td><%= el.formatName %></td>

          <% if(el.totalPost == 0) { %>
            <td><span style="color: red; font-weight: bold;"><%= el.totalPost %></span></td>
          <% } else { %>
            <td><%= el.totalPost %></td>
          <% } %>

          <% if(el.totalVote == 0) { %>
            <td><span style="color: red; font-weight: bold;"><%= el.totalVote %></span></td>
          <% } else { %>
            <td><%= el.totalVote %></td>
          <% } %>
          
          <% if(el.averageTime == 0) { %>
            <td><span style="color: red; font-weight: bold;"><%= el.averageTime %></span></td>
          <% } else { %>
            <td><%= el.averageTime %></td>
          <% } %>

        </tr>
      <% }) %>
    </tbody>
   </table>
  </main>
</body>
</html>