<%- include('./partial/_head', {title: 'Post Detail'}) %>
<body> 
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">DIY Platform</span>
    </div>
  </nav>

  <main class="container">
    <h1><%= data.title %></h1>
    <div class="d-flex">
        <img src="<%= data.imageUrl %>" width="200px">
        <div>
            <p>Estimated Time: <%= data.estimatedTime %> Minutes</p>
            <p>Difficulty: <%= data.difficulty %></p>
            <p>Author: <%= data.authorName %></p>
            <p>Created Date: <%= data.formatCreatedDate %></p>
            <p>Vote: <%= data.totalVote %></p>
            <form action="/posts/<%= data.id %>/vote" method="get">
              <button class="btn btn-primary" type="submit">Vote</button>
            </form>
        </div>
    </div>
    <p style="white-space: pre-line;">
        <%= data.description %>
    </p>
  </main>
</body>
</html>