<%- include('./partial/_head', {title: 'Posts'}) %>
<body> 
  <!-- As a heading -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">DIY Platform</span>
    </div>
  </nav>

  <main class="container">
  <a type="button" class="btn btn-primary" href="/posts/add">Add Post</a>
  <form action="/posts" method="get" class="d-flex">
    <input type="text" name="search" class="form-control">
    <input type="submit" value="search" class="btn btn-dark">
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Difficulty</th>
        <th scope="col">Total Vote</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% data.forEach(el => { %>
        <tr>
          <td><%= el.title %></td>
          <td><%= el.difficulty %></td>
          <td><%= el.totalVote %></td>
          <td>
            <a class="btn btn-primary" href="/posts/<%= el.id %>">Read More</a>
            <a class="btn btn-warning" href="/posts/<%= el.id %>/edit">Edit</a>
            <a class="btn btn-danger" href="/posts/<%= el.id %>/delete">Delete</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
   </table>
  </main>
</body>
</html>